@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<h4>@Model.Name</h4>
<ul>
    <li>Membership Type: @Model.MemberShipType.Name</li>
    @if (Model.BirthDate != null)
    {
        <li>Birthday: @Model.BirthDate.Value.ToShortDateString()</li>
    }

</ul>

